

{% extends 'base.html.twig' %}

{% block title %}BnrBanner index{% endblock %}
{% block body %}
    <div id="print">

    <h1>Тайлан</h1>
{#    {{ form(form ) }}#}
        <input id="print1" type="button" onclick="print1()" value="Тайлан ">
{#    <a href="{{ path('bnr_banner_new') }}">Create banner</a>#}
    <table>

        {#            {{ searchValue }}#}
        {#        {% endif %}#}
        {#        {{ form_start(form) }}#}
        {#            {{ form_widget(form) }}#}
        {#            <button class="btn">{{ button_label|default('Search') }}</button>#}
        {#        {{ form_end(form) }}#}

    </table>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Байгууллага</th>
            <th>Компаний регистер</th>
            <th>Нэр</th>
            <th>Байрлал</th>
            <th>Хугацаа</th>
            <th>Нэгжийн үнэ</th>
            <th>Хоног</th>
            <th>Хөнгөлөлт(%)</th>
            <th>Нийт</th>
            <th>НӨАТ+</th>
            <th>Эцсийн үлдэгдэл</th>
{#            #}{#            <th>Оруулсан огноо</th>#}

{#            #}{#            <th>Order_num</th>#}
{#            #}{#            <th>HrefUrl</th>#}
{#            #}{#            <th>Үргэлжлэх хугацаа</th>#}
{#            #}{#            <th>Status</th>#}
{#            #}{#            <th>Approved_at</th>#}
{#            #}{#            <th>Харагдах хэлбэр</th>#}

{#            #}{#            <th>Comment</th>#}
{#            #}{#            <th>Condition0</th>#}
{#            #}{#            <th>Contact_email</th>#}
{#            #}{#            <th>Contact_name</th>#}
{#            #}{#            <th>Contact_phone</th>#}

{#            #}{#            <th>Төлбөрийн хэлбэр</th>#}




{#            #}{#            <th>Dialog</th> hariltsah tsonh#}
{#            #}{#            <th>DlgWidth</th>#}
{#            #}{#            <th>DlgHeight</th>#}
{#            #}{#            <th>Зургийн зам</th>#}
{#            #}{#            <th>Is_new</th>#}
{#            #}{#            <th>Видео зам</th>#}
{#            #}{#            <th>DefaultImg</th>#}
{#            #}{#            <th>DisplayTime</th>#}
{#            #}{#            <th>SwiffyBody</th>#}
{#            #}{#            <th>SelfTab</th>#}
{#            <th>actions</th>#}
        </tr>
        </thead>
        <tbody>
        {% for go_go_work in go_go_works %}
            <tr>
                <td>{{ go_go_work.company.name }}</td>
                <td>{{ go_go_work.company.register }}</td>
                <td>{{ go_go_work.name}}</td>
                <td>{{ go_go_work.Type.name}}</td>
                <td>{{ go_go_work.startDate ? go_go_work.startDate|date('Y-m-d H:i:s') : '' }}<br>{{ go_go_work.endDate ? go_go_work.endDate|date('Y-m-d H:i:s') : '' }}</td>
{#                <td>{{ go_go_work.insertedDate ? go_go_work.insertedDate|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>{{ go_go_work.Type.price }}</td>
                <td>{{ go_go_work.day }}</td>
                <td>{{ go_go_work.sale }}</td>
                <td>{{ go_go_work.payment}}</td>
                <td>{{ go_go_work.noat }}</td>
                <td>{{ go_go_work.arrearge }}</td>


                {#                <td>{{ go_go_work.arrearge }}</td>#}
                {#                <td>{{ go_go_work.clickedCount }}</td>#}
                {#                <td>{{ go_go_work.day }}</td>#}
                {#                <td>{{ go_go_work.endDate ? go_go_work.endDate|date('Y-m-d H:i:s') : '' }}</td>#}
                {#                <td>{{ go_go_work.name }}</td>#}
                {#                <td>{{ go_go_work.payment }}</td>#}
                {#                <td>{{ go_go_work.price }}</td>#}
                {#                <td>{{ go_go_work.sale }}</td>#}
                {#                <td>{{ go_go_work.startDate ? go_go_work.startDate|date('Y-m-d H:i:s') : '' }}</td>#}
                {#                <td>{{ go_go_work.total }}</td>#}
                {#                <td>{{ go_go_work.comment }}</td>#}
                {#                <td>{{ go_go_work.contactName }}</td>
#}
{#                                <td>{{ bnr_banner.orderNum }}</td>#}
{#                                <td>{{ bnr_banner.hrefUrl }}</td>#}
{#                                <td>{{ bnr_banner.playtime }}</td>#}
{#                                <td>{{ bnr_banner.status }}</td>#}
{#                                <td>{{ bnr_banner.approvedAt ? bnr_banner.approvedAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                                <td>{{ bnr_banner.showMode }}</td>#}

{#                                <td>{{ bnr_banner.comment }}</td>#}
{#                                <td>{{ bnr_banner.condition0 }}</td>#}
{#                                <td>{{ bnr_banner.contactEmail }}</td>#}
{#                                <td>{{ bnr_banner.contactName }}</td>#}
{#                                <td>{{ bnr_banner.contactPhone }}</td>#}

{#                                <td>{{ bnr_banner.payMode }}</td>#}




{#                                <td>{{ bnr_banner.dialog }}</td>#}
{#                                <td>{{ bnr_banner.DlgWidth }}</td>#}
{#                                <td>{{ bnr_banner.DlgHeight }}</td>#}
{#                                <td>{{ bnr_banner.canvasUrl }}</td>#}
{#                                <td>{{ bnr_banner.isNew }}</td>#}
{#                                <td>{{ bnr_banner.videoUrl }}</td>#}
{#                                <td>{{ bnr_banner.defaultImg }}</td>#}
{#                                <td>{{ bnr_banner.displayTime }}</td>#}
{#                                <td>{{ bnr_banner.swiffyBody }}</td>#}
{#                                <td>{{ bnr_banner.selfTab }}</td>#}

            </tr>
        {% else %}

        {% endfor %}



        {% for bnr_banner in bnr_banners %}
            <tr>
                <td>{{ bnr_banner.company.name}}</td>
                <td>{{ bnr_banner.company.register}}</td>
                <td>{{ bnr_banner.name}}</td>
                <td>{{ bnr_banner.position.name}}</td>
                <td>{{ bnr_banner.startDate ? bnr_banner.startDate|date('Y-m-d H:i:s') : '' }}<br>{{ bnr_banner.endDate ? bnr_banner.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bnr_banner.position.price }}</td>
                <td>{{ bnr_banner.day }}</td>
                <td>{{ bnr_banner.sale }}</td>
                <td>{{ bnr_banner.payment}}</td>
                <td>{{ bnr_banner.noat }}</td>
                <td>{{ bnr_banner.arrearage }}</td>
                {#                #}{#                <td>{{ bnr_banner.orderNum }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.hrefUrl }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.playtime }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.status }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.approvedAt ? bnr_banner.approvedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.showMode }}</td>#}

                {#                #}{#                <td>{{ bnr_banner.comment }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.condition0 }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.contactEmail }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.contactName }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.contactPhone }}</td>#}

                {#                #}{#                <td>{{ bnr_banner.payMode }}</td>#}




                {#                #}{#                <td>{{ bnr_banner.dialog }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.DlgWidth }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.DlgHeight }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.canvasUrl }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.isNew }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.videoUrl }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.defaultImg }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.displayTime }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.swiffyBody }}</td>#}
                {#                #}{#                <td>{{ bnr_banner.selfTab }}</td>#}
                <td>
                    {#                    <a href="{{ path('bnr_banner_show', {'id': bnr_banner.id}) }}">show</a>#}
                    {#                    <a href="{{ path('bnr_banner_edit', {'id': bnr_banner.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="36">no records found</td>
            </tr>
        {% endfor %}
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Нийт</td>


        </tbody>
    </table>


    <script>
        function print1() {
            var printButton=document.getElementById("print");
            printButton.style.visibility='hidden';
            window.print();
            printButton.style.visibility='visible';

        }

    </script>


{% endblock %}
